<h1 id="tableLabel">DateTime Testing</h1>

<p>This component demonstrates how DateTimes are sent to/retreived from the server.</p>

<p *ngIf="!dateTimes"><em>Loading...</em></p>

<div *ngIf="dateTimes">
  <button (click)="setNowFromServer()">Set Now in Server TZ</button>
  <button (click)="setNowFromClient()">Set Now in Client TZ</button>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="dateTimes">
  <thead>
    <tr>
      <th>Id</th>
      <th>Timestamp</th>
      <th>Nullable Timestamp</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dateTimeTest of dateTimes">
    <td>{{ dateTimeTest.id }}</td>
    <td>{{ dateTimeTest.timestamp }}</td>
    <td>{{ dateTimeTest.nullableTimestamp }}</td>
  </tr>
  </tbody>
</table>
